In [5]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('classification.csv')

In [6]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [7]:
# PreProcessing: Outliers, Missing values inputation

If model uses 'log' formula or 'distance metrics', ensure that the features are scaled.

Use 'standard_scaler' [x' = (x - mean) / std dev], 
and 'min-max' [0-1] scaler.

E.g. kNN uses distance as a metric.

In [ ]:
data.describe()

In [9]:
# Euclidean Distance = sqrt((x2-x1)^2 + (y2-y1)^2)

In [10]:
x = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

# To maintain Gaussian distribution, fit Standard Scaler instead of MinMax

When you have dataset with 'LabelEncoded' columns, make sure you perform 'fit_transform' for numeric columns only, and not columns with '0's and '1's.

In [20]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Since 'x_test' is a new occurrence, use mean and std deviation of training data.
# Since 'fit' was done in 'x_train', 'x_test' will use the same parameters.
# Reason for 1st Split, and 2nd Scaling -> To separate 'train' data mean and std dev from 'test'

Note: The fit(data) method is used to compute the mean and std dev for a given feature to be used further for scaling. The transform(data) method is used to perform scaling using mean and std dev calculated using the . fit() method. The fit_transform() method does both fits and transform.

In [21]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()

reg.fit(x_train, y_train)

LogisticRegression()

In [24]:
#reg.predict_log_proba

# Probability belonging to a particular class
#reg.predict_proba 

y_pred = reg.predict(x_test)

# Predicting 1 value
#reg.predict([[56, 150000]])

y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1])

In [23]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)
# TP  FP
# FN  TN

array([[65,  3],
       [ 8, 24]])

In [ ]:
# Model will not predict class '1' without feature scaling

In [25]:
from sklearn.metrics import classification_report, accuracy_score

accuracy_score(y_test, y_pred)

0.89

In [27]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.96      0.92        68
           1       0.89      0.75      0.81        32

    accuracy                           0.89       100
   macro avg       0.89      0.85      0.87       100
weighted avg       0.89      0.89      0.89       100